main .gallery {
    background-color: #e5caed;
    color: #390347;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: -8px;
    margin-left: -8px;
    padding: 16px;
    width:100%;
}

main .gallery .title {
    font-size: large;
    font-weight: bold;
}

main .gallery img {
    border: 1px solid #390347;
    border-radius: 4px;
}
