body {
    background-color: #e7e7e7;
    margin: 0;
    overflow-y: scroll;
}

header {
    align-items: center;
    color: #505050;
    column-gap: 16px;
    display: flex;
    margin: 8px;
    padding-bottom: 16px;
}

header .title {
    color: #000000;
    font: bold 20px monospace;
}

footer {
    align-items: center;
    column-gap: 16px;
    display: flex;
    justify-content: center;
    margin: 8px;
    padding-top: 16px;
    text-align: center;
}

footer .author {
    font-size: large;
    font-weight: bold;
    padding-bottom: 8px;
}

footer .biography {
    color: #505050;
    font-style: italic;
    max-width: 480px;
}

footer .headshot {
    border-radius: 20px;
}

main {
    background-color: #ffffff;
    border-bottom: solid #808080;
    border-top: solid #808080;
    padding: 8px;
}